/* Variable para definir el tipo de letra de toda la web */
:root {
    --main-font-family: 'Roboto Mono', monospace;;
}

/* Colocamos el logo en el centro de la cabecera */
header {
    display: flex;
    justify-content: center;
}
header img{
    width: 25%;
    height: 20%;
}
p{
    color: white;
    font-size: 120%;
    font-family: var(--main-font-family)
}
body{
    background-color: black;
    margin: 10px;
}

/* Configuramos el nav para que los enlaces cambien de color cuando se pasa el ratón por encima */
nav{
    margin-top: -5%;
    text-align: center;
}
nav a{
    display: block;
    text-decoration: none;
    color: white;
    font-family: var(--main-font-family);  
}
nav a:hover{
    color: red;
}
/* Configuramos el desplegable del nav*/
ul li{
    display: inline-block;
    position: relative;
    font-size: 120%;
    padding: 20px;
}
/* Submenú de recetas */
#submenu{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#caja_recetas:hover #submenu {
    display: block;
}
#submenu a {
    display: block;
    color: #333;
    text-decoration: none;
    padding: 8px;
}
#submenu a:hover {
    background-color: #d27616;
}

/* Submenú de consejos */
#submenu2{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#caja_tips:hover #submenu2 {
    display: block;
}
#submenu2 a {
    display: block;
    color: #333;
    text-decoration: none;
    padding: 8px;
}
#submenu2 a:hover {
    background-color: #d27616;
}

/* Footer */
footer{
    margin-top: 3%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto;
}
footer p {
    font-size: 90%;
}
#contacto{
    grid-row: 1/1;
    align-self: center;
    text-align: center;
}
#reservas{
    grid-row: 2/1;
    align-self: center;
    text-align: center;
}
#derechos{
    grid-row: 3/1;
    align-self: center;
    text-align: center;
}

/* CSS ESPECIFICO*/

h1{
    font-size: 200%;
    font-family: var(--main-font-family);
    text-align: center;
    color: #d27616;
}
article header {
    color: white;
}
/* GRID general */
#content{
    display: grid;
    grid-template-areas: 
    "ingredientes asado elaboracion";
}

/* Imagen del asado */
#asado{
    display: flex;
    grid-area: asado;
}

#asado img{
    width: 50vw;
    border-radius: 20px;
}

/* Caja ingredientes */
#ingredientes{
    padding: 5%;
    border: 3px solid #d27616;
    border-radius: 8px;
    grid-area: ingredientes;
    color: white;
    font-family: var(--main-font-family);  
    margin: 5%;
    align-self: center;
}

#ingredientes ul li{
    display: flex;
}

/* Caja elaboración */
#elaboracion{
    padding: 5%;
    border: 3px solid #d27616;
    border-radius: 8px;
    align-self: center;
    grid-area: elaboracion;
    color: white;
    font-family: var(--main-font-family);
    margin: 5%;
    text-align: justify;
}

#elaboracion li {
    margin: 5%;
}

/* Responsive */
@media(max-width: 1024px){
    /* Cambiamos content a flex*/
    #content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /* Imagen del asado */
    #asado img{
        width: 50vw;
        border-radius: 20px;
    }
    /* Caja ingredientes */
    #ingredientes{
        padding: 5%;
        border: 3px solid #d27616;
        border-radius: 8px;
        color: white;
        font-family: var(--main-font-family);  
        margin: 5%;
        align-self: center;
    }
    
    #ingredientes ul li{
        display: flex;
    }
    /* Caja elaboración */
    #elaboracion{
        padding: 5%;
        border: 3px solid #d27616;
        border-radius: 8px;
        align-self: center;
        color: white;
        font-family: var(--main-font-family);
        margin: 5%;
        text-align: justify;
    }
    
    #elaboracion li {
        margin: 5%;
    }
}